<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Music App</title>
        <meta charset="utf-8">
        <style>
            body {
            background-color: #2C2C2C;
            color: #FAF9F6;
            font-size: 1.2em;
            }
            a {
            text-decoration: none;       /* Remove underline */
            color: #007BFF;              /* Nicer blue */
            font-weight: 500;            /* Slightly bold */
            transition: color 0.2s ease; /* Smooth hover effect */
            }
        </style>
    </head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>
